#zen-intro {
  background-color: #008000;
}
#zen-intro header {
  background-color: #ff0;
  text-align: center;
}
#zen-supporting {
  background-color: #00f;
}
aside.sidebar {
  background-color: #f00;
}
