/* Sometimes hacks happen.  When you know you are hacking put it here.  When you have time to refactor
come here first.  Please document your hack carefully.*/

.sidebar
    height: 100%
    width: 25%
    position: fixed
    overflow-y: auto
    border-radius: 10%

a:visited
    color: orange
a:link
    color: gray