html
    background-image url('img/congruent_pentagon.png')

body
    margin 0
    font-family 'Montserrat', sans-serif

div[data-page=template] 
  display none

.statusbar
    @extends $headerbar
    background rgba(30,30,30,.1)
    
    > span
        margin 1%

.hidetillogin
    display none

#penguin
    text-align center
    
footer
    @extends $footerbar
    background lightgreen
    
//Catchall class for buttons. We'll make them look good somehow!!!
.press
  @extends $m-button
.press:hover
    @extends $m-button-hover

.post-form
    margin auto
    text-align center

.info
    margin 1%
    text-align center

.meat
    border 1px solid black
    background #fff
    padding     10px
    
.falsePostContent
    margin auto
    padding 1%
    background white
    border 1px solid #ededed
    width 80%

.toplvl-results
    margin     10px
    padding    10px
    height     90%
    overflow-x hidden
    :hover
        background rgba(30,30,30,.15)
        
//"Procedurally" generated shit below here
.query-result
    @extends $small-card
    background white
    color black

.title-div
    @extends $l-title
    
.info-div
    @extends $l-info
    
#tired
    margin-left 25px
    
#falsePostAuthor
    font-size 36px
#falsePostDate
    font-size 28px
#falsePostTitle
    font-size 34px
.falsePostContent
    font-size 22px
    margin-bottom 5%