$headerbar
    position relative
    padding-top 1%
    padding-bottom 1%
    
$footerbar
    position   fixed
    padding    1%
    bottom     0
    left       0
    width      100%
    text-align center